{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "riak_music", "1",
        [
         kernel,
         stdlib,
         sasl,
	 crypto,
         autoname,
         mochiweb,
         webmachine,
         riak_core,
         midilib,
         riak_music
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_music"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, autoname, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, webmachine, [{incl_cond, include}]},
       {app, riak_core, [{incl_cond, include}]},
       {app, riak_core, [{incl_cond, include}]},
       {app, midilib, [{incl_cond, include}]},
       {app, riak_music, [{incl_cond, include}]}
      ]}.

{target_dir, "basho_banjo"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/banjo", "bin/banjo"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
