[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},

 {riak_core, [
         {ring_creation_size, 32},
         {web_ip, undefined},
         {web_port, undefined},
         {handoff_ip, "0.0.0.0"},
         {handoff_port, 8099}
         ]}
].

